/* site styles */
.hero-video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}
.hero-section .container-fluid {
    padding-left: 80px;
    position: relative;
}
.hero-social-links {
    position: absolute;
    right: 150px;
    bottom: 70px;
}
.hero-social-links a {
  font-size: 20px;
  display: inline-block;
  color: #C6C6C6;
  line-height: 0;
  margin-left: 36px;
  transition: 0.3s;
}
.hero-social-links a:hover {
  color: #C6C6C6;
}

.about-image-bg {
    position: relative;
}
/* about info text styles */
.about-info {
    padding: 60px 0 76px;
    background: #060606 url(../img/powerful-tool-bg.svg) no-repeat center center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.about-info h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    margin: 0 0 40px;
    letter-spacing: -0.015em;
    color: #A6A6A6;
}
.about-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #C6C6C6;
    margin: 0 auto 64px;
    width: 82%;
}
.btn-outline {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;

    background: linear-gradient(to right, #AB6C18, #E2A24D);
    border-radius: 18px;
    position: relative;
    z-index: 0;

}
.btn-outline::after {
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: -1;
    background: #060606;
    border-radius: 16px;
    transition: all 0.3s;
}
.about-info .btn-outline {
    width: 190px;
    height: 50px;
    margin: 0 auto;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline:visited {
    /* border: 2px solid #E2A24D; */
    outline: none;
    text-decoration: none;
    color: #FDFDFD;
    background: #212121;
    background: linear-gradient(to right, #E2A24D, #AB6C18);
}
.btn-outline:hover::after {
    background: #212121;
    border-radius: 18px;
}
/* responsive styles */
@media (max-width: 1400px) {
    .navbar a, .navbar a:focus {
        padding: 0 0 0 50px;
    }
    section.about {
        padding: 60px 0;
    }
}
@media (max-width: 1024px) {
    .header {
        padding: 85px 0 0;
    }
    .header-inner-page {
        background: url(../img/msite-header.png) no-repeat;
        background-size: 100% !important;
        height: 185px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .header .logo {
        margin: 220px auto 0;
        padding-left: 85px;
    }
    .header-inner-page .logo {
        margin-top: 0;
    }
    .header .logo img {
        max-height: 72px;
        margin: 0;
    }
    .navbar {
        /* background: none; */
        align-self: flex-start;
    }
    .header.header-inner-page .navbar {
        align-self: flex-end;
    }
    .header.header-scrolled {
        background: linear-gradient(180deg, rgb(27 27 27) 40%, rgb(27 27 27 / 85%) 85%), rgb(27 27 27 / 0%) 100%;   
        padding: 50px 0;
    }
    .header.header-scrolled.header-inner-page {
        background: url(../img/msite-header.png) no-repeat;
        height: 115px;
        padding: 20px 0;
    }
    .header.header-scrolled .navbar {
        align-self: flex-end;
    }
    .header.header-scrolled .logo {
        margin-top: 0;
    }
    .hero-section .container-fluid {
        padding: 0;
    }
    .hero-video-bg {
        min-height: 50vh;
        height: 50%;
        top: 0;
        bottom: initial;
    }
    .hero-social-links {
        display: none;
    }
    .hero-section h1,
    .hero-section h2,
    .hero-section h3 {
        text-align: left;
    }
    .hero-section h1 {
        font-size: 74px;
        line-height: 90px;
        font-weight: 900;
        width: 80%;
        margin-bottom: 24px;
    }
    .hero-section h2, .hero-section h3 {
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        margin: 0;
        width: 75%;
    }
    .hero-content {
        margin-top: 400px;
        padding-left: 37px;
    }
    .hero-section .btn-site-theme {
        float: left;
    }
    .hero-section {
        padding-bottom: 200px;
    }
    .hero-section .btn-site-theme {
        height: 75px;
        width: 322px;
        max-width: 322px;
    }
    .about .content h2 {
        font-size: 40px;
        line-height: 48px;
    }
    .about .content h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .about .content p {
        font-size: 13px;
        margin-bottom: 32px;
    }
    .testimonials .swiper-slide {
        transform: scale(0.8);
    }
    .testimonials .swiper-slide-active {
        transform: scale(1);
    }
    .navbar.navbar-mobile {
        height: auto;
    }
    .header .navbar.navbar-mobile .mobile-nav-toggle img {
        display: none;
    }
    .navbar-mobile ul {
        padding: 20px 24px;
    }
    .header .navbar.navbar-mobile .mobile-nav-toggle {
        margin-top: 0;
        font-size: 32px;
    }
    .navbar.navbar-mobile > ul > li + li {
        margin-top: 12px;
    }
    .navbar.navbar-mobile > ul > li a {
        height: auto;
        padding: 0;
        line-height: 36px;
    }
    .navbar ul > li > a i {
        font-size: 14px;
        font-weight: bold !important;
    }
    .navbar ul > li > a i::before {
        font-weight: bold !important;
    }
    .navbar .getstarted, 
    .navbar .getstarted:focus {
        margin: 0 auto;
        width: 240px;
        height: 48px !important;
        border-radius: 10px;
        background: linear-gradient(170deg, #E2A34D 0%, #AB6C18 50%, #E2A34D 100%);
    }
    .about-info {
        min-height: 60vh;
        background: #060606;
        background-size: 100%;
        position: relative;
    }
    .about-info::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #060606 url(../img/powerful-tool-bg-msite.png) no-repeat center center;
        left: 0;
        top: 0;
        z-index: 0;
        opacity: 0.3;
        filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .about .container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    .about .about-wrapper {
        box-shadow: 0px -30px 36px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    .about .about-wrapper::before {
        content: '';
        position: absolute;
        width: 85%;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        background: linear-gradient(90deg, #F1A136 0%, #AF6606 100%);
        border-radius: 10px 10px 0 0;
    }
    .about .about-wrapper + .about-wrapper {
        margin-top: 0;
    }
    .about .content {
        margin: 0;
        padding: 60px 24px;
        position: static;
        background: linear-gradient(180.46deg, rgba(22, 22, 22, 0) 0.4%, rgba(46, 46, 46, 0.8) 42.52%);
    }
    .about .content .slide-content {
        text-align: center;
    }
    .about .slide-content .btn-site-theme {
        margin: 0 auto;
    }
    .about .content.content-left-aligned {
        padding: 60px 24px;
        align-items: center;
    }
    .about .content.content-right-aligned {
        padding-right: 0;
        align-items: center;
        padding: 60px 24px;
    }
    .about .content.content-right-aligned::after, 
    .about .content.content-left-aligned::after {
        display: none;
    }
    .about .content h2 {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 32px;
        width: 300px;
        margin: 0 auto;
    }
    .about .content h3 {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .about .content p {
        font-size: 14px;
        margin-bottom: 32px;
        text-align: center;
        width: 310px;
    }
    .clients .clients-box {
        padding: 44px 80px;
    }
    .partners-row {
        padding: 0 20px;
        gap: 30px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 45px 0 0;
    }
    .header.header-inner-page {
        padding: 0;
        height: 100px;
    }
    .header .logo {
        margin: 80px auto 0;
        padding-left: 85px;
    }
    .header .logo img {
        max-height: 40px;
        margin: 0;
    }
    .header.header-inner-page .logo {
        margin-top: 0;
        padding-left: 0;
    }
    .navbar {
        /* background: none; */
        align-self: flex-start;
        padding-right: 20px;
    }
    .mobile-nav-toggle img {
        width: 36px;
    }
    .header.header-inner-page .mobile-nav-toggle {
        margin-top: 12px;
    }
    .header.header-scrolled {
        background: linear-gradient(180deg, rgb(27 27 27) 40%, rgb(27 27 27 / 85%) 85%), rgb(27 27 27 / 0%) 100%;   
        padding: 12px 0;
    }
    .header.header-scrolled.header-inner-page {
        height: 100px;
        padding: 0 0;
    }
    .header.header-scrolled .navbar {
        align-self: flex-end;
    }
    .header.header-scrolled .logo {
        margin-top: 0;
        padding-left: 0;
        margin-left: 20px;
    }
    .header.header-scrolled.header-inner-page .logo {
        margin-left: auto;
    }
    .hero-section .container-fluid {
        padding: 0;
    }
    .hero-video-bg {
        min-height: 50vh;
        height: 50%;
        top: 0;
        bottom: initial;
    }
    .hero-social-links {
        display: none;
    }
    .hero-section h1,
    .hero-section h2,
    .hero-section h3 {
        text-align: left;
    }
    .hero-section h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 900;
        width: 90%;
        margin-bottom: 24px;
    }
    .hero-section h2, .hero-section h3 {
        font-size: 16px;
        line-height: 22px;
        width: 90%;
    }
    .hero-content {
        margin-top: 160px;
        padding-left: 40px;
    }
    .hero-section .btn-site-theme {
        float: left;
    }
    .hero-section {
        padding-bottom: 80px;
    }
    .hero-section .btn-site-theme {
        height: 48px;
        width: 185px;
        max-width: 185px;
        margin-top: 32px;
    }
    .clients {
        padding: 60px 0;
    }
    .partners-row {
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .partners-row .partner-item img {
        height: 30px;
    }
    .about .container {
        padding-left: 0;
        padding-right: 0;
    }
    .about .about-wrapper {
        box-shadow: 0px -30px 36px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    .about .about-wrapper::before {
        content: '';
        position: absolute;
        width: 85%;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        background: linear-gradient(90deg, #F1A136 0%, #AF6606 100%);
        border-radius: 10px 10px 0 0;
    }
    .about .about-wrapper + .about-wrapper {
        margin-top: 0;
    }
    .about .content {
        margin: 0;
        padding: 60px 24px;
        position: static;
        background: linear-gradient(180.46deg, rgba(22, 22, 22, 0) 0.4%, rgba(46, 46, 46, 0.8) 42.52%);
    }
    .about .content.content-left-aligned {
        padding: 60px 24px;
        align-items: center;
    }
    .about .content.content-right-aligned {
        padding-right: 0;
        align-items: center;
        padding: 60px 24px;
    }
    .about .content.content-right-aligned::after, 
    .about .content.content-left-aligned::after {
        display: none;
    }
    .about .content h2 {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 32px;
    }
    .about .content h3 {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .about .content p {
        font-size: 14px;
        margin-bottom: 32px;
        text-align: center;
        width: 100%;
    }
    .about-info {
        min-height: 60vh;
        background: #060606;
        background-size: 100%;
        position: relative;
    }
    .about-info::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #060606 url(../img/powerful-tool-bg-msite.png) no-repeat center center;
        left: 0;
        top: 0;
        z-index: 0;
        opacity: 0.3;
        filter: blur(4px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .about-info p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
    }
    section.testimonials {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .testimonials .testimonial-item {
        padding: 30px 30px;
        margin-top: 0;
    }
    .testimonials .swiper-slide {
        transform: scale(0.8);
    }
    .testimonials .swiper-slide-active {
        transform: scale(1);
    }
    .recent-blog-posts {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-header h2 {
        font-size: 18px;
    }
    section.contact {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .footer .footer-top {
        padding: 40px 0;
    }
    .footer .copyright-row {
        height: auto;
    }
    .footer .copyright {
        justify-content: center;
        height: 30px;
        padding-top: 12px;
    }
    .footer .social-links {
        justify-content: center;
        height: 40px;
    }
    .footer .social-links a {
        margin: 0 12px 0;
    }

    .clients .clients-box {
        padding: 20px;
    }
    .blog-post-box-wrapper {
        flex-direction: column;
    }
    .recent-blog-posts .post-box {
        width: 90%;
    }
}



/* circles */

.stats-section {
    background: linear-gradient(92.99deg, #0B0B0B 0%, #0E0E0E 55.41%);
}
.progeessbarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar {
    display: inline-block;
    width: 276px;
    margin: 25px;
}
.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.circle canvas {
    vertical-align: middle;
}
.circle .circleText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle .circleText strong {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #F1A136;
}
.circle .circleText p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #C7C7C7;
    margin: 0;
}
.circle .circleText p span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #C7C7C7;
}
@media (max-width: 1024px) {
    .progeessbarWrap {
        flex-direction: row;
    }
    .progressbar {
        width: 200px;
    }
    .progressbar canvas {
        width: 200px !important;
        height: 200px !important;
    }
    .circle .circleText strong {
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .progeessbarWrap {
        flex-direction: column;
    }
}
/* ======================================= */
            /* idea page styles */
/* ======================================= */

.idea-hero-section {
    width: 100%;
    height: 100vh;
    background: #000000;
    position: relative;
}
.idea-hero-section h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #F1A136;
    margin: 0 0 78px;
}
.idea-hero-section p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8E8B8B;
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}
.idea-hero-section a {
    margin: 70px auto 0;
    width: 310px;
    height: 48px;
}

/* SKU Use case */
section.idea-use-case {
    padding: 98px 0 220px;
    background: #070707;
}
.idea-use-case .section-header {
    padding-bottom: 84px;
}
.idea-use-case .use-case-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.idea-use-case .use-case-wrapper .use-case-box {
    position: relative;
    border-radius: 14px;
    flex: 1;
    max-width: 312px;
    height: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
.idea-use-case .use-case-wrapper .use-case-box .use-case-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.idea-use-case .use-case-wrapper .use-case-box .use-case-image img {
    width: 100%;
}
.idea-use-case .use-case-wrapper .use-case-box .use-case-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #272727 21.68%, rgba(0, 0, 0, 0) 170.17%);
    border-radius: 14px;
    cursor: pointer;
}
.idea-use-case .use-case-wrapper .use-case-box .use-case-content h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #C6C6C6;
}
.idea-use-case .use-case-wrapper .use-case-box .use-case-content a {
    position: absolute;
    bottom: 14px;
    right: 20px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.05em;
    color: #C6C6C6;
}
@media (max-width: 1200px) {
    section.idea-use-case {
        padding: 220px 0;
    }
    .idea-use-case .use-case-wrapper .use-case-box {
        height: 210px;
    }
}
@media (max-width: 600px) {
    section.idea-use-case {
        padding: 110px 0;
    }
    .idea-use-case .use-case-wrapper {
        flex-direction: column;
    }
}
/* technology behind */
.technology-behind {
    padding: 90px 0 445px;
    background: #000000;
}
.technology-behind .technology-info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
}
.technology-behind .technology-info-row h4 {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #F1A136;
    margin: 0 0 18px;
}
.technology-behind .technology-info-row ol {
    padding: 0;
    margin: 0;
    padding-inline-start: 20px;
    width: 81%;
}
.technology-behind .technology-info-row ol li,
.technology-behind .technology-info-row p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #C6C6C6;
    margin: 0;
}
@media (max-width: 1200px) {
    .technology-info-row img.m-center {
        display: block;
        margin: 0 auto 90px;
    }
    .technology-behind .technology-info-row {
        padding: 60px 0;
    }
    .technology-info-content {
        margin: 0 40px;
    }
    .technology-behind .technology-info-row.reverse-order {
        flex-direction: column-reverse;
    }
    .technology-behind {
        padding-bottom: 150px;
    }
}
@media (max-width: 600px) {
    .technology-behind .technology-info-row h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .technology-info-content {
        margin: 0 20px;
    }
    .technology-behind .technology-info-row ol {
        width: 100%;
    }
}
/* onboard sku */
.onboard-sku {
    background: #070707;
    padding: 94px 0 155px;
}
.onboard-sku .section-header {
    padding-bottom: 110px;
}
.onboard-sku .section-header h2 {
    text-transform: none;
}
.onboard-sku .process-flow-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.onboard-sku .process-flow-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onboard-sku .process-flow-box span.process-image {
    width: 217px;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
}
.onboard-sku .process-flow-box span.process-image img {
    width: 100%;
}
.onboard-sku .process-flow-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #C6C6C6;
}
@media (max-width: 1200px) {
    .onboard-sku {
        background: #070707;
        padding: 160px 0;
        background: #0C0C0C;
    }
    .onboard-sku .process-flow-box span.process-image {
        width: 165px;
        height: 165px;
    }
    .onboard-sku .process-flow-box-wrapper {
        gap: 30px;   
    }
    .onboard-sku .process-flow-box p {
        font-size: 12px;
        line-height: 15px;
        color: #C7C7C7;
    }
}
@media (max-width: 600px) {
    .onboard-sku .process-flow-box-wrapper {
        flex-direction: column;
    }
}
/* recognition model */
.recognition-model {
    background: #000000;
    padding: 100px 0 250px;
}
.recognition-model .section-header {
    padding-bottom: 125px;
}
.recognition-model .recognition-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 145px;
}
.recognition-model .recognition-box-wrapper .recognition-box {
    max-width: 370px;
    flex: 1;
}
.recognition-model .recognition-box-wrapper .recognition-box .recognition-image {
    width: 100%;
    height: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 0 35px;
}
.recognition-model .recognition-box-wrapper .recognition-box .recognition-image img {
    width: 100%;
}
.recognition-model .recognition-box-wrapper .recognition-box p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #C6C6C6;
}
@media (max-width: 1200px) {
    .recognition-model {
        padding: 100px 0 165px;
    }
}
@media (max-width: 600px) {
    .recognition-model .recognition-box-wrapper {
        flex-direction: column;
        gap: 100px;
    }
    .recognition-model .recognition-box-wrapper .recognition-box .recognition-image img {
        width: 80%;
    }
}
/* idea integration */
.idea-integration {
    padding: 110px 0 47px;
    background: #070707;
}
.idea-integration .integration-info-row img.rounded {
    border-radius: 20px !important;
}
.idea-integration .integration-info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
}
.idea-integration .integration-info-row h4 {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #F1A136;
    margin: 0 0 18px;
}
.idea-integration .integration-info-row p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #C6C6C6;
    margin: 0;
}
.idea-integration .integration-info-row a {
    margin: 34px 0 0;
    height: 36px;
    width: 210px;
    font-size: 12px;
    border-radius: 13px;
}
.idea-integration .integration-info-row a::after {
    border-radius: 12px;
}
.idea-integration .integration-info-row .idea-integration-image.desktop {
    display: block;
}
.idea-integration .integration-info-row .idea-integration-image.msite {
    display: none;
}
@media (max-width: 1200px) {
    .idea-integration .integration-info-row {
        padding: 0 0 100px;
    }
    .idea-integration .integration-info-row.right {
        flex-direction: column-reverse;
    }
    .idea-integration .integration-info-row .idea-integration-image {
        margin: 0 auto 74px;
        display: block;
    }
    .idea-integration .integration-info-row .idea-integration-image.desktop {
        display: none;
    }
    .idea-integration .integration-info-row .idea-integration-image.msite {
        display: block;
    }
    .idea-integration .integration-info-row .idea-integration-content {
        text-align: center;
    }
    .idea-integration .integration-info-row a {
        margin: 34px auto;
    }
}
@media (max-width: 500px) {
    .idea-integration .integration-info-row .idea-integration-image.desktop {
        display: none;
    }
    .idea-integration .integration-info-row .idea-integration-image.msite {
        display: block;
    }
}
/* ======================================= */
            /* service page styles */
/* ======================================= */
.service-hero-section {
    min-height: 767px;
    width: 100%;
    padding-top: 120px;
    position: relative;
    background-image: linear-gradient(90deg, #070707 10%, #070707 30%, #000000 30%, #000000 100%);
}
.service-hero-section .container-fluid {
    padding: 0 93px;
}
.service-hero-content {
    padding-left: 65px;
    max-width: 625px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-hero-content h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #F1A136;
    margin: 0 0 15px;
}
.service-hero-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C6C6C6;
    margin: 0;
}
.service-hero-content a {
    margin: 24px 0 0;
    border-radius: 13px;
    height: 36px;
    width: 146px;
    font-size: 12px;
}
.service-hero-content a::after {
    border-radius: 12px !important;
}
@media (max-width: 1200px) {
    .service-hero-section {
        padding-top: 300px;
    }
    .service-hero-section .container-fluid {
        padding: 0 24px;
    }
    .inner-page-benner-image {
        max-width: 538px;
        margin: 0 auto;
        display: block;
    }
    .service-hero-content {
        padding-left: 0;
        max-width: 90%;
        text-align: center;
        margin: 80px auto 0;
    }
    .service-hero-content h2 {
        margin-bottom: 100px;
    }
    .service-hero-content p {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
    }
    .service-hero-content a {
        margin: 24px auto 0;
    }
}
@media (max-width: 767px) {
    .service-hero-section {
        padding-top: 180px;
    }
    .inner-page-benner-image {
        max-width: 100%;
    }
    .service-hero-content {
        padding-left: 0;
        max-width: 90%;
        text-align: center;
        margin: 40px auto 0;
    }
    .service-hero-content h2 {
        margin-bottom: 40px;
    }
    .service-hero-content p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.04em;
    }
    .service-hero-content a {
        margin: 24px auto 0;
    }
}
/* shelf merchandising */
.why-shelf-merchandising {
    background: #000000;
    padding: 130px 0 145px;
}
.why-shelf-merchandising .section-header {
    padding-bottom: 136px;
}
.why-shelf-merchandising .section-header h2 {
    text-transform: none;
    font-size: 34px;
    font-weight: 600;
    color: #A6A6A6;
}
.shelf-merchandising-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.shelf-merchandising-wrapper .box {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shelf-merchandising-wrapper .box .percentage-text-grad {
    background: linear-gradient(to bottom, #F1A136 0%, #AF6606 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 88px;
    line-height: 107px;
    letter-spacing: -0.05em;
    margin: 0;
    padding-right: 5px;
}
.shelf-merchandising-wrapper .box .merchandising-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 0;
    color: #A6A6A6;
}
@media (max-width: 1200px) {
    .why-shelf-merchandising {
        padding-bottom: 130px;
    }
    .why-shelf-merchandising .section-header {
        padding-bottom: 48px;
    }
    .shelf-merchandising-wrapper {
        /* flex-direction: column; */
        gap: 40px;
    }    
    .shelf-merchandising-wrapper .box .percentage-text-grad {
        font-size: 60px;
        line-height: 96px;
    }
    .shelf-merchandising-wrapper .box .merchandising-content {
        font-size: 16px;
        line-height: 22px;
    }
} 

@media (max-width: 767px) {
    .why-shelf-merchandising {
        padding-bottom: 130px;
    }
    .why-shelf-merchandising .section-header {
        padding-bottom: 48px;
    }
    .shelf-merchandising-wrapper {
        /* flex-direction: column; */
        gap: 20px;
    }    
    .shelf-merchandising-wrapper .box .percentage-text-grad {
        font-size: 40px;
        line-height: 76px;
    }
    .shelf-merchandising-wrapper .box .merchandising-content {
        font-size: 12px;
        line-height: 18px;
    }
}
/* how does it work */
.how-it-works {
    padding: 100px 0 185px;
    background: #070707;
}
.how-it-works .section-header {
    padding-bottom: 48px;
}
.work-box {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 140px;
    margin-top: 104px;
}
.work-box + .work-box {
    margin-top: 192px;
}
.work-box + .work-box::before {
    position: absolute;
    content: '';
    width: 48%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #F1A136 0%, #AF6606 100%);
    border-radius: 4px;
    top: -96px;
}
.work-box .work-image {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-box .work-image img {
    width: auto;
    height: 220px;
}
.work-box .work-content {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.work-box .work-content h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #F1A136;
    margin: 0 0 10px;
}
.work-box .work-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C6C6C6;
    margin: 0;
}
@media (max-width: 1200px) {
    .work-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 80px;
    }
    .work-box + .work-box {
        margin-top: 150px;
    }
    .work-box + .work-box::before {
        top: -46px;
    }
    .work-box .work-image {
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .work-box .work-image img {
        width: auto;
        height: 220px;
    }
    .work-box .work-content {
        width: 80%;
        margin: 0 auto;
        max-width: 480px;
    }
    .work-box .work-content p {
        font-size: 18px;
        line-height: 22px;
    }
    .work-box.content-left .work-content {
        margin: 0 auto;
    }
    .work-box.content-left {
        flex-direction: column-reverse;
    }
}
@media (max-width: 767px) {
    .work-box .work-image img {
        height: 232px;
    }
}
/* need advice */
.need-advice {
    background: #0F0F0F;
    padding: 120px 0 140px;
}
.need-advice h3 {
    margin: 0 0 30px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #F1A136;
}
.need-advice p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #C6C6C6;
    margin: 0 auto;
    max-width: 800px;
}
.need-advice a {
    width: 207px;
    height: 36px;
    font-size: 12px;
    border-radius: 13px;
    margin: 74px auto 0;
}
.need-advice a::after {
    border-radius: 13px !important;
}
@media (max-width: 1200px) {
    .need-advice {
        padding: 120px 24px 140px;
    }
}