/* site styles */
.hero-video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}
.hero-section .container-fluid {
    padding-left: 80px;
    position: relative;
}
.hero-social-links {
    position: absolute;
    right: 150px;
    bottom: 70px;
}
.hero-social-links a {
  font-size: 20px;
  display: inline-block;
  color: #C6C6C6;
  line-height: 0;
  margin-left: 36px;
  transition: 0.3s;
}
.hero-social-links a:hover {
  color: #C6C6C6;
}

.about-image-bg {
    position: relative;
}
/* about info text styles */
.about-info {
    padding: 60px 0 76px;
    background: #060606;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-info h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    margin: 0 0 40px;
    letter-spacing: -0.015em;
    color: #A6A6A6;
}
.about-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #C6C6C6;
    margin: 0 auto 64px;
    width: 82%;
}
.btn-outline {
    border-radius: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E2A24D;
    background: transparent;
    cursor: pointer;
}
.about-info .btn-outline {
    width: 190px;
    height: 50px;
    margin: 0 auto;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline:visited {
    border: 2px solid #E2A24D;
    outline: none;
    text-decoration: none;
    color: #FDFDFD;
    background: transparent;
}
/* responsive styles */
@media (max-width: 1400px) {
    .navbar a, .navbar a:focus {
        padding: 0 0 0 50px;
    }
    section.about {
        padding: 60px 0;
    }
}
@media (max-width: 1024px) {
    .header {
        padding: 85px 0 0;
    }
    .header .logo {
        margin: 220px auto 0;
        padding-left: 85px;
    }
    .header .logo img {
        max-height: 72px;
        margin: 0;
    }
    .navbar {
        background: none;
        align-self: flex-start;
    }
    .header.header-scrolled {
        background: linear-gradient(180deg, rgb(27 27 27) 40%, rgb(27 27 27 / 85%) 85%), rgb(27 27 27 / 0%) 100%;   
        padding: 50px 0;
    }
    .header.header-scrolled .navbar {
        align-self: flex-end;
    }
    .header.header-scrolled .logo {
        margin-top: 0;
    }
    .hero-section .container-fluid {
        padding: 0;
    }
    .hero-video-bg {
        min-height: 50vh;
        height: 50%;
        top: 0;
        bottom: initial;
    }
    .hero-social-links {
        display: none;
    }
    .hero-section h1,
    .hero-section h2,
    .hero-section h3 {
        text-align: left;
    }
    .hero-section h1 {
        font-size: 74px;
        line-height: 90px;
        font-weight: 900;
        width: 80%;
        margin-bottom: 24px;
    }
    .hero-section h2, .hero-section h3 {
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        margin: 0;
        width: 75%;
    }
    .hero-content {
        margin-top: 400px;
        padding-left: 37px;
    }
    .hero-section .btn-site-theme {
        float: left;
    }
    .hero-section {
        padding-bottom: 200px;
    }
    .hero-section .btn-site-theme {
        height: 75px;
        width: 322px;
        max-width: 322px;
    }
    .about .content h2 {
        font-size: 40px;
        line-height: 48px;
    }
    .about .content h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .about .content p {
        font-size: 13px;
        margin-bottom: 32px;
    }
    .testimonials .swiper-slide {
        transform: scale(0.8);
    }
    .testimonials .swiper-slide-active {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .header {
        padding: 45px 0 0;
    }
    .header .logo {
        margin: 80px auto 0;
        padding-left: 85px;
    }
    .header .logo img {
        max-height: 40px;
        margin: 0;
    }
    .navbar {
        background: none;
        align-self: flex-start;
        padding-right: 20px;
    }
    .mobile-nav-toggle img {
        width: 36px;
    }
    .header.header-scrolled {
        background: linear-gradient(180deg, rgb(27 27 27) 40%, rgb(27 27 27 / 85%) 85%), rgb(27 27 27 / 0%) 100%;   
        padding: 12px 0;
    }
    .header.header-scrolled .navbar {
        align-self: flex-end;
    }
    .header.header-scrolled .logo {
        margin-top: 0;
        padding-left: 0;
        margin-left: 20px;
    }
    .header.header-scrolled .logo img {
        max-height: 34px;
    }
    .hero-section .container-fluid {
        padding: 0;
    }
    .hero-video-bg {
        min-height: 50vh;
        height: 50%;
        top: 0;
        bottom: initial;
    }
    .hero-social-links {
        display: none;
    }
    .hero-section h1,
    .hero-section h2,
    .hero-section h3 {
        text-align: left;
    }
    .hero-section h1 {
        font-size: 44px;
        line-height: 52px;
        font-weight: 900;
        width: 90%;
        margin-bottom: 24px;
    }
    .hero-section h2, .hero-section h3 {
        font-size: 22px;
        line-height: 30px;
        width: 90%;
    }
    .hero-content {
        margin-top: 160px;
        padding-left: 40px;
    }
    .hero-section .btn-site-theme {
        float: left;
    }
    .hero-section {
        padding-bottom: 80px;
    }
    .hero-section .btn-site-theme {
        height: 48px;
        width: 185px;
        max-width: 185px;
        margin-top: 32px;
    }
    .clients {
        padding: 60px 0;
    }
    .partners-row {
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .about .content {
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .about .content h2 {
        font-size: 40px;
        line-height: 48px;
    }
    .about .content h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .about .content p {
        font-size: 13px;
        margin-bottom: 32px;
    }
    section.testimonials {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .testimonials .testimonial-item {
        padding: 30px 30px;
        margin-top: 0;
    }
    .testimonials .swiper-slide {
        transform: scale(0.8);
    }
    .testimonials .swiper-slide-active {
        transform: scale(1);
    }
    .section-header h2 {
        font-size: 18px;
    }
    section.contact {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .footer .footer-top {
        padding: 40px 0;
    }
    .footer .copyright-row {
        height: auto;
    }
    .footer .copyright {
        justify-content: center;
        height: 30px;
        padding-top: 12px;
    }
    .footer .social-links {
        justify-content: center;
        height: 40px;
    }
    .footer .social-links a {
        margin: 0 12px 0;
    }
}



/* circles */

.stats-section {
    background: linear-gradient(92.99deg, #0B0B0B 0%, #0E0E0E 55.41%);
}
.progeessbarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar {
    display: inline-block;
    width: 276px;
    margin: 25px;
}
.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.circle canvas {
    vertical-align: middle;
}
.circle .circleText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle .circleText strong {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #F1A136;
}
.circle .circleText p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #C7C7C7;
    margin: 0;
}
.circle .circleText span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #C7C7C7;
}